<% provide(:title, "About") %>
    <h1>About Us</h1>
    <p>We repair bags and luggages by hand, the traditional way<p>

    <p>Do visit us at <b>159, Chulia Street, 10200 Pulau Pinang</b></p>

    <p>Alternatively, contact us at <b>04-2613223</b>.</p>

